<!DOCTYPE html>
	<html>
		<head><title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
		
			
			<nav>
	    		
			</nav>
			
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<br />
			
			
			</body>
			<footer>
				<div class="foo blue">
				&nbsp E-mail: <a href="mailto:jordanbrannan@outlook.com">jordanbrannan@outlook.com</a></div>
	        		<br />
	        		<div class="foo lightblue"></div>
	        		<div class="foo white"></div>
	        		<br />
	        		<br />
	        		
				
			</footer>
		<br />
	</html>
